*{
    padding: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, .subtitle{
    text-align: center;
}


/* 1:The first and most useful pseudo class is ":hover" */
.button-hover{
    padding: 8px;
    border-radius: 10px 18px 10px 18px;
    border: 0px;
    font-weight: 800;
}

.button-hover:hover{
    background-color: goldenrod;
    transition: ease 0.8s;
}

/* 2:Second pseudo class is ":focus" */
.button-focus{
    padding: 8px;
    border-radius: 10px 18px 10px 18px;
    border: 0px;
    font-weight: 800;
}

.button-focus:focus{
    background-color: deepskyblue;
    /* transition: ease 0.3s; */
}

/* 3:Third pseudo class that you could use is ":active" */
.active-link{
    position: relative;
}
.active-link:active{
    top: 3px;
}

/* 4:Another pseudo class selector is the "first-child" and "last-child" */
p:first-child{
    font-size: 30px;
    color: chocolate;
}

p:last-child{
    font-size: 20px;
    color: cornflowerblue;
}

