h1{
    text-align: center;
}
ul li::marker{
    color: red;
    font-weight: 900;
}

ol li::marker{
    color:deepskyblue;
    font-weight: 700;
}

.first_letter::first-letter{
    color: red;
    font-weight: bold;
}

.first_line::first-line{
    color: blue;
    font-weight: bold;
}


.selection .selection-one::selection{
    color: red;
}

.selection .selection-tow::selection{
    background-color: gold;
}

.selection .selection-three::selection{
    text-shadow: 1px 1px 0 royalblue; 
}


.befor-after-one::before{
    content: 'cat';
    color: red;
    font-weight: 900;
}

.befor-after-tow::after{
    content: 'dog';
    color: red;
    font-weight: 900;
}

