h1, p{
    text-align: center;
}


/* 1:The first and most useful pseudo class is "hover" */
.button-hover{
    padding: 8px;
    border-radius: 10px 18px 10px 18px;
    border: 0px;
    font-weight: 800;
}

.button-hover:hover{
    background-color: goldenrod;
    transition: ease 0.8s;
}

.button-focus{
    padding: 8px;
    border-radius: 10px 18px 10px 18px;
    border: 0px;
    font-weight: 800;
}

.button-focus:focus{
    background-color: deepskyblue;
    /* transition: ease 0.3s; */
}

.active-link{
    position: relative;
}

.active-link:active{
    top: 2px;
}
